body {
  text-align: center;
}

h1 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#About {

        width: 400px;
        height: 300px;
        margin: auto;

}

.navbar-default {
  // background-color: red;
}

// HOMPAGE

section.home {
  margin-top: -20px;
  background: url('/images/voxpropmonop.png') no-repeat center center ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 93vh;
}
