body{
  background-color: #E9EAF2
}

#menu{
  width: 1000px;
  height: 35px;
  font-size: 12px;
  font-family: Tahoma;
  text-align: center;
}

#menu ul{
  height: auto;
  padding: 8px 0px;
  margin: 0px;
}

#menu li{
  display: inline-block;
}

#monopoly{
  width: 300px;
  height: 250px;
  position: fixed;
  bottom: 150px;
  left: 550px;
  opacity: 0.8;
}

#About{
  height: 600px;
  width: 500px;
  margin: auto;
  text-align: center;
}

#issue{
  height: 150px;
  width: 300px;
}