<h2><%= @user.username %></h2>
<% if @user.profile_pic %>
  <img src="<%= @user.profile_pic.url %>" width="300">
  <% else %>
  <img src="../images/default.png" width="300">
  <% end %>
<p>Hi, <%= @user.username %></p>
<p><%= @user.email_address %></p>

<a href="/logout">logout</a>

