
<div id="About">
<h1>About</h1>
<br>
<p >Record low levels of housebuilding, together with increasing demand, have driven house prices in London to unaffordable levels. For many Londoners rent is the single biggest monthly expense, yet tenant rights are often infringed. The aim of this site is to give  renters in London an opportunity to feedback on treatment (whether good, bad or indifferent) they have received from their landlord.</p>
<p>The links below provide additonal information for anyone encountering problems with rented housing in London (or anywhere else in the UK).</p>

<ul>
  <li><a href="http://www.shelter.org.uk/">Shelter</a></li>
  <li><a href="https://www.citizensadvice.org.uk/housing/renting-a-home/">Citizens' Advice Bureau</a></li>

</ul>
</div>