<section class="home">
    <div class="welcome">
      <h1>Welcome to Voxprop!</h1>
      <br>
      <p><a class="btn btn-primary btn-lg" id="main-button" href="/about" role="button">Find out more</a></p>
  </div>
</section>