<section class="home">
    <div class="jumbotron">
      <h1>Welcome to Voxprop!</h1>
      <br>
      <p><a class="btn btn-primary btn-lg" href="/about" role="button">Learn more</a></p>
  </div>
</section>
