<h1>User Home</h1>


<h2><a href='/logout'>Logout</a></h2>
<h2><a href='/about'>About</a></h2>
<!-- <h2><a href='/search?type=property'>Search Properties</a></h2> -->
<h2><a href='/properties/index.erb'>Search Properties</a></h2>
<!-- <h2><a href='/search?type=landlord'>Search Landlords</a></h2> -->
<h2><a href='/landlords/index.erb'>Search Landlords</a></h2>