<br>
<br>

<form id="new" method="post" action="/landlords/new">
  <div class="form-group">
    <label for="rating">Landlord rating (0-5)</label>
    <input name="landlord rating" type="text" class="form-control" id="landlord rating" placeholder="landlord rating">
  </div>
  <div class="form-group">
    <label for="address1">1st line of address</label>
    <input name="address2[address2]" type="text" class="form-control" id="address2" placeholder="2nd line of address">
  </div>
  <div class="form-group">
    <label for="postcode">Postcode</label>
    <input name="postcode" type="text" class="form-control" id="postcode" placeholder="Postcode">
  </div>
   <div class="form-group">
    <select name="Borough">
      <option value="Barking & Dagenham">Barking & Dagenham</option>
      <option value="Barnet">Barnet</option>
      <option value="Bexley">Bexley</option>
      <option value="Brent">Brent</option>
      <option value="Bromley">Bromley</option>
      <option value="Camden">Camden</option>
      <option value="Croydon">Croydon</option>
      <option value="Ealing">Ealing</option>
      <option value="Enfield">Enfield</option>
      <option value="Greenwich">Greenwich</option>
      <option value="Hackney">Hackney</option>
      <option value="Hammersmith & Fulham">Hammersmith & Fulham</option>
      <option value="Haringey">Haringey</option>
      <option value="Hillingdon">Hillingdon</option>
      <option value="Hounslow">Hounslow</option>
      <option value="Islington">Islington</option>
      <option value="Kensington and Chelsea">Kensington and Chelsea</option>
      <option value="Kingston upon Thames">Kingston upon Thames</option>
      <option value="Lambeth">Lambeth</option>
      <option value="Lewisham">Lewisham</option>
      <option value="Merton">Merton</option>
      <option value="Newham">Newham</option>
      <option value="Redbridge">Redbridge</option>
      <option value="Richmond upon Thames">Richmond upon Thames</option>
      <option value="Southwark">Southwark</option>
      <option value="Sutton">Sutton</option>
      <option value="Tower Hamlets">Tower Hamlets</option>
      <option value="Waltham Forest">Waltham Forest</option>
      <option value="Wandsworth">Wandsworth</option>
      <option value="Westminster">Westminster</option>
    </select>
  </div>
  <button type="submit" class="btn btn-default">Sign-up</button>
</form>