<!DOCTYPE html>
<html lang="en">
<head>
<title>voxprop</title>
  <%= css :application %>
  <%= js :application %>
</head>
  <body>
    <header>
      <h2><a href='/register'>User registration</a></h2>
      <h2><a href='/login'>User login</a></h2>
      <h2><a href='/about'>About</a></h2>
      <!-- <h2><a href='/search?type=property'>Search Properties</a></h2> -->
      <h2><a href='/properties'>Search Properties</a></h2>
      <!-- <h2><a href='/search?type=landlord'>Search Landlords</a></h2> -->
      <h2><a href='/landlords'>Search Landlords</a></h2>
    </header>
    <main>
    </main>
      <%= yield %>
    </body>
</html>