<!DOCTYPE html>
<html lang="en">
<head>
<title>voxprop</title>
  <%= css :application %>
  <%= js :application %>
</head>
  <body>
    <header>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">drop
          </button>
          <a class="navbar-brand" href="/">Home</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">

            <li><a href="/register">Register</a></li>
            <li><a href="/landlords">Landlords</a></li>
            <li><a href="/properties">Properties</a></li>
            <li><a href="/about">About</a></li>
            <% if is_logged_in? %>
              <li><a href="/logout">Logout</a></li>
            <% else %>
              <li><a href="/login">Login</a></li>
            <% end %>    
          </ul>
        </div>
      </div>
    </nav>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>