<!DOCTYPE html>
<html lang="en">
<head>
<title>voxprop</title>
  <%= css :application %>
  <%= js :application %>
</head>
  <body>
    <header>
    </header>
    <main>
    </main>
      <%= yield %>
    </body>
</html>